*{
  padding: 0px;
  margin: 0px;
}
body{
  background-color:#20232a;
}

.centerit{
  text-align: center;
  margin-left: auto;
  padding: 30px;
  margin-right: auto;
  width: 40%;
  
  background-color: rgb(219, 206, 195);
  font-family: 'Lexend Mega', sans-serif;
  border-radius: 25px;
  
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin-left: 20%;
}

/* Create two equal columns that sits next to each other */
.cards{
  width: 250px;
  background-color: white;
  margin-right: 100px;
  padding-bottom: 20px;

  margin-bottom: 80px;
  border-radius: 25px;
 
}

.card_category{
  margin-left: 35%;
  font-size: 20px;
  font-family: 'Lexend Mega', sans-serif;
}

.card_title{
  font-size: 11px;
  text-align: center;
  padding: 10px;
  font-family: 'Lexend Mega', sans-serif;
  margin-bottom: 20px;
  
}
.headtitle{
  text-align: center;
  background-color: bisque;
  margin-bottom: 10px;
  padding: 30px;
  font-family: 'Lexend Mega', sans-serif;

}

.buttonof{
  margin-left: 30%;
  
  background-color:#20232a ;
  border: none;
  padding: 6px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  color: #61dafb;
}
.card_img {
  
  width: 100%;
  padding: 0px;
  height: 250px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
 
  
}


/* slot machine */

.ekbox{
  text-align: center;
  background-color: azure;
  width: 30%;
  height: 400px;
  margin: auto;
  border: 5px solid black;
 
}
.spacedown{
  margin-bottom: 20px;
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid black;
}

.hookdesign{
  margin: auto;
  text-align: center;
  margin-top: 200px;
}
.hookbutton{
  background-color: blanchedalmond;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  color: rgb(33, 107, 175);
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  border-style: none;
  border: 1px solid black;
}

.hooktext{
  color: rgb(33, 107, 175);
  font-size: 50px;
}
.hookbox{
  background-color: whitesmoke;
  width: 30%;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  border-radius: 10px;
  box-shadow: rgba(98, 181, 248, 0.2) 0px 7px 29px 0px;
}
.hookbox:hover{
  box-shadow: rgba(98, 181, 248, 0.2) 0px 7px 29px 0px;
}

/*click me challenge */
.clickbutton{

  background-color: #000000; /* Green */
  border: none;
  color: white;
  padding: 15px 42px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}
.bluebackground{
  border-radius: 10px;
}
.inputspace{
  border-radius: 10px;
  margin-top: 40px;
width: 53%;
  padding: 10px;
  text-align: center;
  border-style: none;
  
}
.bluebackground{
  background-color: #61dafb;
  width: 50%;
  margin: auto;
  padding: 70px;
  margin-top: -10%;
}


.buttonofform{
  display: block;
  margin: auto;
  border-radius: 9px;
  background-color: rgb(243, 199, 53);
  margin-top: 30px;

 border: 2px solid black;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;

}


.pararesult{
  text-align: center;
  background-color: bisque;
 
  padding: 30px;
  font-family: 'Lexend Mega', sans-serif;
  width: 30%;
  margin: auto;
  margin-top: 30px;
  box-shadow: rgba(98, 181, 248, 0.2) 0px 7px 29px 0px;


}
.pararesult{
  text-align: center;
  background-color: bisque;
 
  padding: 30px;
  font-family: 'Lexend Mega', sans-serif;
  width: 50%;
  margin: auto;
  margin-top: 30px;
  box-shadow: rgba(98, 181, 248, 0.2) 0px 7px 29px 0px;


}

.todobox{
  background-color: rgb(255, 255, 255);
  height: 600px;
  width: 24%;
  margin: auto;
  margin-top: 60px;
  border-radius: 20px;
}
.todoinside{
  background-color: rgb(255, 255, 255);
  height: 60px;
  
}
.todoinput{
  margin-top: 20px;
  margin-left: 10%;
 background-color: rgb(255, 255, 255);
 color:  rgb(107, 45, 165);
 
  outline: none;
  
 height: 25px;
 width: 190px;
 text-align: center;
 border: none;
 border-bottom:2px solid rgb(107, 45, 165);
 font-family: 'Lexend Mega', sans-serif; 
  
}
::placeholder {
  color: rgb(255, 255, 255);
  opacity: 0.4;
 
}
.todobutton{
 margin-left: 20%;
 background-color: blueviolet; /* Green */
 border: none;
 border-radius: 20px;
 color: rgb(255, 255, 255);
 padding: 10px;
 padding-left: 15px;
 padding-right: 15px;
 text-align: center;
 font-size: 16px;
 font-weight: bold;
 cursor: pointer;
 outline: none;
 
}
.todobutton:hover{
  background-color: #63d472; /* Green */
  color: white;

}
.itemvalue{
  font-family: 'Lexend Mega', sans-serif; 
  padding-left: 30px;
  padding-bottom: 14px;
  color: blueviolet;
  list-style: none;

  
}

.todohead{
  text-align: center;
  font-family: 'Lexend Mega', sans-serif; 
  font-size: 28px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color:  rgb(107, 45, 165);
  color: white;
}
.fonta{
  margin-right: 25px;
  cursor: pointer;
}
.fonta:hover{
  color: rgb(156, 15, 15);
}