body{
  background-color: rgb(140, 228, 212);
}
.centerit{
  text-align: center;
  margin-left: auto;
  padding: 30px;
  margin-right: auto;
  width: 40%;
  
  background-color: rgb(219, 206, 195);
  font-family: 'Lexend Mega', sans-serif;
  border-radius: 25px;
  
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin-left: 20%;
}

/* Create two equal columns that sits next to each other */
.cards{
  width: 250px;
  background-color: white;
  margin-right: 100px;
  padding-bottom: 20px;
  
 
}
.cards:hover{
  transform: scale(1.2) rotate(0.1deg);
}

.card_category{
  margin-left: 34%;
  font-size: 30px;
}

.card_title{
  font-size: 13px;
  text-align: center;
  padding: 10px;
}

.buttonof{
  margin-left: 30%;
}
.card_img {
  
  width: 100%;
  padding: 0px;
}
